[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:bl4ckb1rd77/astronvim-user.git
[submodule "Bilder/wallpapers"]
	path = Bilder/wallpapers
	url = git@github.com:bl4ckb1rd77/wallpapers.git
