GIMP/2.10
Rocket.Chat
bashtop
dconf
font-manager
galculator
geklaut
google-chrome
htop
lazygit
mako/icons
ncmpcpp/error.log
nemo
nvim
nwg-look
pulse
ranger/commands.py
ranger/commands_full.py
ranger/rifle.conf
ranger/scope.sh
whatsdesk
xsettingsd
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
configstore
enchant
libreoffice/4/user
menus/applications-merged
autostart
remmina
waybar/modules.backup
libvirt/qemu/networks
libvirt/storage/images.xml
libvirt/storage/isos.xml
pupgui
freerdp/known_hosts2
Nextcloud/logs/20230802_1127_nextcloud.log.0
Nextcloud/nextcloud.cfg
cava/shaders/bar_spectrum.frag
cava/shaders/northern_lights.frag
cava/shaders/pass_through.vert
cef_user_data/Dictionaries
