GIMP/2.10
Rocket.Chat
bashtop
dconf
font-manager
galculator
geklaut
google-chrome
htop
lazygit
mako/icons
ncmpcpp/error.log
nemo
nwg-look
pulse
ranger/commands.py
ranger/commands_full.py
ranger/rifle.conf
ranger/scope.sh
whatsdesk
xsettingsd
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
configstore
enchant
libreoffice/4/user
menus/applications-merged
autostart
remmina
waybar/modules.backup
libvirt/qemu/networks
libvirt/storage/images.xml
libvirt/storage/isos.xml
pupgui
freerdp/known_hosts2
Nextcloud/logs/20230802_1127_nextcloud.log.0
Nextcloud/nextcloud.cfg
cava/shaders/bar_spectrum.frag
cava/shaders/northern_lights.frag
cava/shaders/pass_through.vert
cef_user_data/Dictionaries
discord
libreoffice/4
Nextcloud
goverlay/initial_values
keepassxc
balena-etcher
youtube-tui
systemd/user/multi-user.target.wants
google-chrome-beta
systemd/user/default.target.wants/onedrive.service
onedrive/refresh_token
onedrive/items.sqlite3-wal
onedrive/items.sqlite3-shm
onedrive/items.sqlite3
cef_user_data/WidevineCdm
ncspot/userstate.cbor
kitty/kitty.conf.bak
teams-for-linux
freerdp/server
audacity
fontforge
pamac
hyprmixer
