.config/btop/btop.log
.config/hypr/monitor.conf
.config/hypr/hyprland.conf-bak
.config/hypr/keybinds.conf-bak
.config/hypr/monitor.conf-bak
.config/hypr/window_rules.conf-bak
.config/flavor
.config/hypr/colors.conf
.config/yazi
.config/yazi.backup
.config/QtProject.conf
.config/waybar/workspace.jsonc
.config/btop/btop.conf
.config/hypr/wallpaper_effects/.wallpaper_current
Bilder/Screenshots
