/* ---- Color Definitions ---- */

@define-color barbackground rgba(236, 239, 244, 0.1);
@define-color background #2e3444;
@define-color blank rgba(0, 0, 0, 0);
@define-color textcolor #eceff4;
@define-color buttonbackground #616e87;
@define-color activebackground #5e81ac;
@define-color emptybackground #434c5e;
@define-color hoverbackground #ebcb8b;
@define-color urgentbackground #bf616a;

* {
  /* font-family: JetBrainsMono Nerd Font Propo; */
  font-family: Hack Nerd Font;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

/* ---- Toolti ---- */
tooltip {
  background: @background;
  border: 2px solid @activebackground;
  border-radius: 8px;
  color: @textcolor;
}

tooltip label {
  color: #d8dee9;
}

/* ---- waybar ---- */
window#waybar {
  background: transparent;
  border-radius: 0px;
  color: @textcolor;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* ==== LEFT ==== */
/* ---- generel left right ---- */
#custom-left {
  background-color: @background;
  color: @textcolor;
  font-size: 1px;
  transition: all 0.3s ease-in-out;
  border-top: 2px solid @activebackground;
  border-left: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-right: 0px;
  border-radius: 8px 0px 0px 8px;
  margin: 5px 0px 0px 8px;
  padding: 0px 5px 0px 0px;
}

#custom-right {
  background-color: @background;
  color: @textcolor;
  font-size: 1px;
  transition: all 0.3s ease-in-out;
  border-top: 2px solid @activebackground;
  border-right: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-left: 0px;
  border-radius: 0px 8px 8px 0px;
  margin: 5px 8px 0px 0px;
  padding: 0px 0px 0px 5px;
}

/* ---- Startmenu ---- */
#custom-group,
#custom-startmenu {
  background-color: @background;
  color: @textcolor;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border-top: 2px solid @activebackground;
  border-left: 0px;
  border-bottom: 2px solid @activebackground;
  border-right: 0px;
  border-radius: 0px;
  margin: 5px 0px 0px 0px;
  padding: 0px 7px 0px 5px;
}

#custom-startmenu:hover {
  background-color: @hoverbackground;
  color: @background;
  transition: all 0.3s ease-in-out;
}

/* ---- Workspaces ---- */
#workspaces {
  background: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-left: 0px;
  border-bottom: 2px solid @activebackground;
  border-right: 0px;
  border-radius: 0px;
  margin: 5px 0px 0px 0px;
  padding: 3px 0px 3px 0px;
  font-weight: bold;
  font-style: normal;
}

#workspaces label {
  font-size: 6px;
}

#workspaces button {
  color: @textcolor;
  background-color: @buttonbackground;
  margin: 4px 3px 4px 3px;
  padding: 2px;
  border-radius: 15px;
  border: 0px;
  transition: all 0.3s ease-in-out;
  min-width: 8px;
}

#workspaces button.persistent {
  color: @textcolor;
  transition: all 0.3s ease-in-out;
  background-color: @buttonbackground;
}

#workspaces button.empty {
  color: @textcolor;
  background-color: @emptybackground;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  color: @textcolor;
  background-color: @urgentbackground;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @textcolor;
  background-color: @activebackground;
  border-radius: 15px;
  min-width: 25px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @background;
  background: @hoverbackground;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

#clock {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-left: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-right: 2px solid @activebackground;
  border-radius: 8px;
  margin: 5px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
}

#custom-mpdvol {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-left: 0px;
  border-bottom: 2px solid @activebackground;
  border-right: 0px;
  border-radius: 0px;
  margin: 5px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
}

#custom-weather {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-left: 0px;
  border-bottom: 2px solid @activebackground;
  border-right: 0px;
  border-radius: 0px;
  margin: 5px 0px 0px 0px;
  padding: 0px 5px 0px 10px;
}

/* ---- bat vol bubble ---- */

#pulseaudio {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-left: 0px;
  border-bottom: 2px solid @activebackground;
  border-right: 0px;
  border-radius: 0px;
  margin: 5px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
}

#pulseaudio-slider {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-left: 0px;
  border-bottom: 2px solid @activebackground;
  border-right: 0px;
  border-radius: 0px;
  margin: 5px 0px 0px 0px;
  padding: 0px 9px 0px 7px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 70px;
    border-radius: 5px;
    background-color: @buttonbackground;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 3px;
    background-color: @hoverbackground;
}

#disk.root,
#disk.home,
#cpu,
#memory,
#battery,
#idle_inhibitor,
#custom-updater,
#custom-ipinfo,
#systemd-failed-units,
#custom-touchpad,
#tray,
#mpris {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin: 5px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
}

#systemd-failed-units.ok {
  background-color: @background;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-notification {
  background-color: @background;
  color: @textcolor;
  border-left: 0px;
  border-top: 2px solid @activebackground;
  border-right: 0px;
  border-bottom: 2px solid @activebackground;
  border-radius: 0px;
  padding: 0px 10px 1px 10px;
  margin: 5px 0px 0px 0px;
}

#clock.time {
  margin: 0px 0px 60px 30px;
  background: transparent;
  color: alpha(@textcolor, 0.7);
  font-family: Cantarell ExtraBold;
  font-size: 120px;
  border: 0px solid @blank;
  text-shadow: 3px 3px rgba(46, 52, 68, 0.6);
}

#clock.date {
  margin: 0px 0px 30px 50px;
  background: transparent;
  color: alpha(@textcolor, 0.7);
  font-family: Cantarell ExtraBold;
  font-size: 40px;
  border: 0px solid @blank;
  text-shadow: 3px 3px rgba(46, 52, 68, 0.6);
}
