@import "color.css";

* {
  /* font-family: JetBrainsMono Nerd Font Propo; */
  font-family: Hack Nerd Font;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

/* ---- Toolti ---- */
tooltip {
  background: @crust;
  border: 2px solid @surface0;
  border-radius: 4px;
  color: @text;
  text-shadow: unset;
}

tooltip label {
  color: @text;
  text-shadow: unset;
}

/* ---- waybar ---- */
window#waybar {
  background: transparent;
  border-radius: 0px;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar > box {
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: @crust;
}

/* ==== LEFT ==== */
/* ---- generel left right ---- */
#custom-leftstart {
  background-color: @crust;
  color: @text;
  font-size: 1px;
  transition: all 0.3s ease-in-out;
  border-top: 0px solid @surface0;
  border-left: 0px solid @surface0;
  border-bottom: 0px solid @surface0;
  border-right: 0px;
  border-radius: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 0px 0px;
}

#custom-rightend {
  background-color: @crust;
  color: @text;
  font-size: 1px;
  transition: all 0.3s ease-in-out;
  border-top: 0px solid @surface0;
  border-right: 0px solid @surface0;
  border-bottom: 0px solid @surface0;
  border-left: 0px;
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
}

/* ---- Startmenu ---- */
#custom-startmenu {
  background-color: @crust;
  color: @text;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border-top: 0px solid @surface0;
  border-left: 0px;
  border-bottom: 0px solid @surface0;
  border-right: 0px;
  border-radius: 0px;
  margin: 6px 0px 6px 3px;
  padding: 0px 7px 0px 5px;
}

#custom-startmenu:hover {
  background-color: @yellow;
  color: @crust;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* ---- Workspaces ---- */
#workspaces {
  background: @surface1;
  color: @blank;
  border-top: 0px solid @surface1;
  border-left: 0px;
  border-bottom: 0px solid @surface1;
  border-right: 0px;
  border-radius: 8px;
  margin: 6px 0px 6px 3px;
  padding: 3px 6px 3px 6px;
  font-weight: bold;
  font-style: normal;
}

#workspaces label {
  font-size: 6px;
}

#workspaces button {
  color: @blank;
  background-color: @overlay0;
  margin: 4px 3px 4px 3px;
  padding: 1px;
  border-radius: 15px;
  border: 0px;
  transition: all 0.3s ease-in-out;
  min-width: 8px;
}

#workspaces button.persistent {
  color: @blank;
  transition: all 0.3s ease-in-out;
  background-color: @text;
}

#workspaces button.empty {
  color: @blank;
  background-color: @overlay0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  color: @blank;
  background-color: @red;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @blank;
  background-color: @sapphire;
  border-radius: 15px;
  min-width: 20px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @crust;
  background: @yellow;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

#window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  background-color: @surface0;
  color: @text;
  border-top: 0px solid @surface0;
  border-left: 0px;
  border-bottom: 0px solid @surface0;
  border-right: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  margin: 6px 0px 6px 0px;
  padding: 0px 6px 0px 10px;
}
#custom-weather {
  background-color: @surface0;
  color: @text;
  border-top: 0px solid @surface0;
  border-left: 0px;
  border-bottom: 0px solid @surface0;
  border-right: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 8px;
  margin: 6px 0px 6px 0px;
  padding: 0px 10px 0px 6px;
}

#custom-powermenu, 
#mpris {
  background-color: transparent;
  color: @text;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 0px 10px;
}

#cpu {
  background-color: @surface0;
  color: @text;
  border-top: 0px solid @surface0;
  border-left: 0px;
  border-bottom: 0px solid @surface0;
  border-right: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  margin: 6px 0px 6px 0px;
  padding: 0px 6px 0px 10px;
}
#disk.root,
#disk.home,
#memory,
#battery,
#idle_inhibitor,
#pulseaudio,
#custom-updater {
  background-color: @surface0;
  color: @text;
  border-top: 0px solid @surface0;
  border-bottom: 0px solid @surface0;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin: 6px 0px 6px 0px;
  padding: 0px 4px 0px 3px;
}

#tray,
#custom-ipinfo,
#systemd-failed-units,
#custom-touchpad {
  background-color: @base;
  color: @text;
  border-top: 0px solid @surface0;
  border-bottom: 0px solid @surface0;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin: 6px 0px 6px 0px;
  padding: 0px 3px 0px 3px;
}

#systemd-failed-units.ok {
  background-color: @base;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-notification {
  background-color: @base;
  color: @text;
  border-left: 0px;
  border-top: 0px solid @surface0;
  border-right: 0px;
  border-bottom: 0px solid @surface0;
  border-radius: 0px 8px 8px 0px;
  margin: 6px 0px 6px 0px;
  padding: 0px 10px 0px 4px;
}
