/* ---- Color Definitions ---- */

@define-color barbackground rgba(236, 239, 244, 0.1);
@define-color background #2e3e44;
@define-color blank rgba(0, 0, 0, 0);
@define-color textcolor #eceff4;
@define-color buttonbackground #616e87;
@define-color activebackground #5e81ac;
@define-color emptybackground #616e87;
@define-color hoverbackground #ebcb8b;
@define-color urgentbackground #bf616a;

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-weight: bold;
  font-size: 12px;
}

/* ---- Toolti ---- */
tooltip {
  background: @background;
  border: 2px solid @activebackground;
  border-radius: 8px;
  color: @textcolor;
}

tooltip label {
  color: #d8dee9;
}

/* ---- waybar ---- */
window#waybar {
  background: transparent;
  border-radius: 0px;
  color: @textcolor;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* ---- Startmenu ---- */
#custom-startmenu {
  background-color: @background;
  color: @textcolor;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border: 2px solid @activebackground;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 10px;
  opacity: 0.8;
}

#custom-startmenu:hover {
  background-color: @hoverbackground;
  color: @background;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  opacity: 0.8;
}

/* ---- weather ---- */
#custom-weather {
  background-color: @background;
  color: @textcolor;
  border: 2px solid @activebackground;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 0px;
  opacity: 0.8;
}

/* ---- music bubble ---- */
#mpris {
  background-color: @background;
  color: @textcolor;
  border: 2px solid @activebackground;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 0px 3px 0px;
  opacity: 0.8;
}

#custom-mpdvol {
  background-color: @background;
  color: @textcolor;
  border: 2px solid @activebackground;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 0px 3px 10px;
  opacity: 0.8;
}

/* ---- Workspaces ---- */
#workspaces {
  background: @background;
  color: @textcolor;
  margin: 5px 1px 5px 1px;
  padding: 0px 1px;
  border: 2px solid @activebackground;
  border-radius: 8px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
}

#workspaces button {
  color: @textcolor;
  background-color: @buttonbackground;
  padding: 0px 5px;
  margin: 6px 3px;
  border-radius: 15px;
  border: 0px;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

#workspaces button.persistent {
  color: @textcolor;
  background-color: @emptybackground;
}

#workspaces button.empty {
  color: @textcolor;
  background-color: @emptybackground;
  opacity: 0.3;
}

#workspaces button.urgent {
  color: @textcolor;
  background-color: @urgentbackground;
  opacity: 0.8;
}

#workspaces button.active {
  color: @textcolor;
  background-color: @activebackground;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: @background;
  background: @hoverbackground;
  border-radius: 15px;
  opacity: 0.7;
}

/* ---- bat vol bubble ---- */
#pulseaudio {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-left: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-radius: 8px 0px 0px 8px;
  margin: 5px 0px 3px 0px;
  padding: 0px 5px 1px 12px;
  opacity: 0.8;
}

#cpu,
#memory {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-radius: 0px;
  margin: 5px 0px 3px 0px;
  padding: 0px 5px 1px 5px;
  opacity: 0.8;
}

#battery {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-right: 2px solid @activebackground;
  border-radius: 0px 8px 8px 0px;
  margin: 5px 0px 3px 0px;
  padding: 0px 10px 1px 5px;
  opacity: 0.8;
}
/* ---- custom bubble ---- */

#idle_inhibitor {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-left: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-radius: 8px 0px 0px 8px;
  margin: 5px 0px 3px 10px;
  padding: 0px 5px 1px 12px;
  opacity: 0.8;
}

#custom-updater,
#custom-ipinfo {
  background-color: @background;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-radius: 0px;
  margin: 5px 0px 3px 0px;
  padding: 0px 5px 1px 5px;
  opacity: 0.8;
}

#systemd-failed-units {
  background-color: @urgentbackground;
  color: @textcolor;
  border-top: 2px solid @activebackground;
  border-bottom: 2px solid @activebackground;
  border-right: 2px solid @activebackground;
  border-radius: 0px 8px 8px 0px;
  margin: 5px 0px 3px 0px;
  padding: 0px 10px 1px 5px;
  opacity: 0.8;
}

#systemd-failed-units.ok {
  background-color: @background;
}

/* ---- Tray ---- */
#tray {
  background-color: @background;
  color: @textcolor;
  border: 2px solid @activebackground;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 10px;
  opacity: 0.8;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* ---- Clock ---- */
#clock {
  background-color: @background;
  color: @textcolor;
  border: 2px solid @activebackground;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 0px;
  opacity: 0.8;
}

#custom-notification {
  background-color: @background;
  color: @textcolor;
  border: 2px solid @activebackground;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 0px;
  opacity: 0.8;
}

#clock.time {
  margin: 0px 0px 60px 30px;
  background: transparent;
  color: alpha(@textcolor, 0.7);
  font-family: Cantarell ExtraBold;
  font-size: 120px;
  border: 0px solid @blank;
}

#clock.date {
  margin: 0px 0px 30px 50px;
  background: transparent;
  color: alpha(@textcolor, 0.7);
  font-family: Cantarell ExtraBold;
  font-size: 40px;
  border: 0px solid @blank;
}
