* {
  font-family: ShureTechMono Nerd Font;
  /* font-family: JetBrainsMono Nerd Font; */
  font-size: 14px;
  font-weight: 900;
}

window#waybar.top {
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #389964;
    border-radius: 0px;
    color: rgb(220, 220, 220);
}

window#waybar.bottom {
    background: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #389964;
    border-radius: 0px;
    color: rgb(220, 220, 220);
}

#clock,
#cpu,
#memory,
#disk,
#disk.home,
#battery,
#pulseaudio,
#tray,
#backlight,
#custom-updater,
#custom-rebootrequired,
#custom-touchpad,
#custom-mpdvol,
#custom-power,
#custom-ncspot,
#cava,
#hyprland-window,
#custom-startmenu,
#custom-launcher-terminal,
#custom-launcher-chrome,
#custom-launcher-spotify,
#custom-launcher-nvim,
#custom-launcher-whatsapp,
#custom-launcher-nemo,
#mpris {
	color: #D8DEE9;
}

#mpris,
#cava {
  margin-left: 10px;
}

#systemd-failed-units {
  color: #BF616A;
}

#systemd-failed-units.ok {
  color: #EBCB8B;
}

#custom-power,
#battery {
  margin-right: 10px;
}

#workspaces button {
  margin: 0;
  padding: 0px;
  color: #D8DEE9;
}

#workspaces button.persistent {
  margin: 0;
  padding: 0px;
  color: #d8dee9;
  background: rgba(0,0,0,0);
}

#workspaces button.empty {
  color: #5E81AC;
}

#workspaces button.active {
  margin: 0;
  padding: 0px;
  color: #EBCB8B;
  background: rgba(0,0,0,0);
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: inherit;
  margin: 0;
  padding: 0px;
  color: #83b5e0;
  background: rgba(0,0,0,0)00;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
