/* ---- Color Definitions ---- */

@define-color barbackground rgba(236, 239, 244, 0.1);
@define-color background #2e3e44;
@define-color blank rgba(0, 0, 0, 0);
@define-color textcolor #eceff4;
@define-color buttonbackground #616e87;
@define-color activebackground #5e81ac;
@define-color emptybackground #616e87;
@define-color hoverbackground #ebcb8b;
@define-color urgentbackground #bf616a;

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-weight: bold;
  font-size: 14px;
}

/* ---- Toolti ---- */
tooltip {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #389964;
  border-radius: 3px;
  color: #d8dee9;
}

tooltip label {
  color: #d8dee9;
}

/* ---- waybar ---- */
window#waybar {
    background: transparent;
    border-radius: 0px;
    color: @textcolor;;
    transition-property: background-color;
    transition-duration: .5s;
}

/* ---- Startmenu ---- */
#custom-startmenu {
  background-color: @background;
  color: @textcolor;
  font-weight: bold;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 10px;
  opacity:0.8;
}

#custom-startmenu:hover {
  background-color: @hoverbackground;
  color: @textcolor;
  border-radius: 8px;
  opacity:0.8;
}

/* ---- Taskbar ---- */
#taskbar {
  background-color: @background; 
  margin: 5px 0px 3px 0px;
  padding:0px;
  border-radius: 8px;
  font-weight: normal;
  font-style: normal;
  opacity:0.8;
  border:0px solid @blank;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 2px 0px 2px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

#taskbar button.active {
  color: @textcolor;
  background-color: @activebackground;
  padding: 0px 14px 0px 12px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

#taskbar button:hover {
  color: @textcolor;
  background: @hoverbackground;
  border-radius: 8px;
}

#taskbar.empty {
  background: @blank;
  color: @blank;
}

/* ---- music bubble ---- */
#mpris {
  background-color: @background;
  color: @textcolor;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 0px 3px 10px;
  opacity:0.8;
}

#custom-mpdvol {
  background-color: @background;
  color: @textcolor;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 0px 3px 10px;
  opacity:0.8;
}

/* ---- Workspaces ---- */
#workspaces {
  background: @background;
  color: @textcolor;
  margin: 5px 1px 5px 1px;
  padding: 0px 1px;
  border-radius: 8px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
}

#workspaces button {
  color: @textcolor;
  background-color: @buttonbackground;
  padding: 0px 5px;
  margin: 6px 3px;
  border-radius: 15px;
  border: 0px;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

#workspaces button.persistent {
  color: @textcolor;
  background-color: @emptybackground;
}

#workspaces button.empty {
  color: @textcolor;
  background-color: @emptybackground;
  opacity: 0.4;
}

#workspaces button.urgent {
  color: @textcolor;
  background-color: @urgentbackground;
  opacity: 0.4;
}

#workspaces button.active {
  color: @textcolor;
  background-color: @activebackground;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity:1.0;
}

#workspaces button:hover {
  color: @textcolor;
  background: @hoverbackground;
  border-radius: 15px;
  opacity:0.7;
}

/* ---- bat vol bubble ---- */
#pulseaudio {
  background-color: @background;
  color: @textcolor;
  border-radius: 8px 0px 0px 8px;
  margin: 5px 0px 3px 0px;
  padding: 0px 5px 1px 12px;
  opacity:0.8;
}

#cpu, #memory {
  background-color: @background;
  color: @textcolor;
  border-radius: 0px;
  margin: 5px 0px 3px 0px;
  padding: 0px 5px 1px 5px;
  opacity:0.8;
}

#battery {
  background-color: @background;
  color: @textcolor;
  border-radius: 0px 8px 8px 0px;
  margin: 5px 0px 3px 0px;
  padding: 0px 10px 1px 5px;
  opacity:0.8;
}
/* ---- custom bubble ---- */

#idle_inhibitor,
#custom-touchpad {
  background-color: @background;
  color: @textcolor;
  border-radius: 8px 0px 0px 8px;
  margin: 5px 0px 3px 10px;
  padding: 0px 5px 1px 12px;
  opacity:0.8;
}

#custom-updater,
#custom-rebootrequired,
#custom-ipinfo {
  background-color: @background;
  color: @textcolor;
  border-radius: 0px;
  margin: 5px 0px 3px 0px;
  padding: 0px 5px 1px 5px;
  opacity:0.8;
}

#systemd-failed-units {
  background-color: @urgentbackground;
  color: @textcolor;
  border-radius: 0px 8px 8px 0px;
  margin: 5px 0px 3px 0px;
  padding: 0px 10px 1px 5px;
  opacity:0.8;
}

#systemd-failed-units.ok {
  background-color: @background;
}

/* ---- Tray ---- */
#tray {
  background-color: @background;
  color: @textcolor;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 10px;
  opacity:0.8;
  border:0px solid @background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/* ---- Clock ---- */
#clock {
  background-color: @background;
  color: @textcolor;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 0px;
  opacity:0.8;
  border:0px solid @background;
}

#custom-notification {
  background-color: @background;
  color: @textcolor;
  border-radius: 8px;
  padding: 0px 10px 1px 10px;
  margin: 5px 10px 3px 0px;
  opacity:0.8;
  border:0px solid @background;
}

#clock.time {
  margin: 0px 0px 60px 30px;
  background: transparent;
  color: alpha(@textcolor, 0.7);
  font-family: Cantarell ExtraBold;
  font-size: 120px;
}
#clock.date {
  margin: 0px 0px 30px 50px;
  background: transparent;
  color: alpha(@textcolor, 0.7);
  font-family: Cantarell ExtraBold;
  font-size: 40px;
}
