* {
	font-family: "Hack", monospace;
}

window {
  background-color: #81a1c1;
  border-radius: 5px;
}

#input {
  margin: 5px;
  border-radius: 5px;
  border: 1 px solid #81a1c1;
  background-color: #292e39;
  color: #eceff4;
}

#outer-box {
  background: url("/home/ahoefer/.config/wofi/header_screenshot.png");
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
  background-color: #2e3440;
}

#inner-box {
  margin-top: 160px;
  background-color: #3B4252;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 4px;
	color: #eceff4;
	font-size: 18px;
}

#entry:nth-child(even){
	background-color: #434C5E;
}

#entry:selected {
	background-color: #4C566A;
}

#text:selected {
	background: transparent;
}
